PORT=8000
MONGODB_URL=mongodb+srv://hasan:<db_your-password>@cluster0.wmc167h.mongodb.net
CORS_ORIGIN=*
ACCESS_TOKEN_SECRET=HHUCASNKVND7OACNV-AVJNDIHVISVCBGVZJHCBHISBCH WEGHHS
ACCESS_TOKEN_EXPIRY=1d
REFRESH_TOKEN_SECRET=JSCBDJBVJKSV-SC78DBVSJKBCAONCODNIVNS9BNSIVHSIVBVBZ
REFRESH_TOKEN_EXPIRY=10d
